.container {

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 0px;

  align-items: center;
  
}




/* Style the video: 100% width and height to cover the entire window */
.Video {
width: 100vh;
height: 100vh;
margin: 0px;
padding:0px;
background-repeat: repeat;
background-size: cover;
justify-content: center;
z-index:1;
}


.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}



.footer{
top: 500px;
background-image: "./img/sookmyung.png";
display:float;

}

.movies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  width: 65%;
  position: absolute;
  

  
  display:flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1090px) {
  .movies {
    grid-template-columns: 1fr;
    width: 100%;
    align-items: center;
  }
}